.cancelBtn {
  background-color: rgb(201, 9, 54);
  
}

.navbar-header {
  background: url("/assets/images/crmsidebar.jpg") no-repeat center center / cover !important;
  // background-image: linear-gradient(to right, #6ba3cd, #031c2e) !important;
    //  background: url("/assets/images/bg5.jpg") no-repeat center center / cover !important;

  // background: rgb(78,95,95);
  // background: radial-gradient(circle, rgba(78,95,95,1) 0%, rgba(47,45,24,0.7933298319327731) 92%, rgba(184,170,65,1) 100%);
//   background: url("/assets/images/Flight38.jpeg") no-repeat center center / cover !important;
//   background-size: cover;
// background-position: center;
// background-repeat: no-repeat;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.text-success{
  color: green;
}
.text-danger{
  color:red
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #0d47a1, #1976d2); /* modern blue gradient */
  padding: 0 20px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
 
.brand-text {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-left: 20%;
  text-transform: uppercase;
  letter-spacing: 3px;
 
  background: linear-gradient(90deg, hsl(143, 100%, 59%), hsl(110, 73%, 50%)); /* red-pink gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}
 

::ng-deep {@media (min-width: 1200px) {
  .modal-xl {
      --bs-modal-width: 1315px !important;
  }
}
}